@{
    ViewData["Title"] = "Book List";
}

<div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">Romance</li>
            <li class="list-group-item">Fiction</li>
            <li class="list-group-item">Biography</li>
            <li class="list-group-item">Poems</li>
            <li class="list-group-item">Western
            <li class="list-group-item">Academic</li>
            <li class="list-group-item">Science Fiction</li>
        </ul>
    </div>
    <div class="col-8">
        <h3>Book List</h3>
        <hr />
        <div class="row">
            <div class="col-4">
                <img src="~/img" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-4">
                <img src="~/img/bike.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
            <div class="col-4">
                <img src="~/img/bike.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>
</div>
