@{
    ViewData["Title"] = "Login";
}
<div class="row justify-content-md-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h3>Login</h3>
                <hr />
                <form method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <label for="pass1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="pass1">
                    </div>
                    <hr />
                    <button type="submit" class="btn btn-primary">Login</button><br />
                    <p>If you don't have an account please <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Signup" ><u>Create an Account</u> </a> </p>
                </form>
            </div>
        </div>
    </div>
</div>