@{
    ViewData["Title"] = "Removemember";
}
<div class ="pp" style=" margin-left:100px;">
<p style="align:center;">
<h4><b>Member's INFORMATION</b> </h4>
<h6><b>Remove a member:</b></h6> 
    
    
       
       
        <form method="post" enctype="multipart/form-data">
          
             
    <div class="col-4">   
             <hr />


         <div class="row">
  <div class="col">
    <h6<<b>Write The Member's ID:</b></h6>
  </div>
  <div class="col">
    <input type="number" class="form-control" id="vno" placeholder="7">
  </div>
</div>
<br />
         
            <button type="submit" class="btn btn-primary">Remove</button>
            <hr /><hr/>
            
            <button type="submit" class="btn btn-primary">Exit</button>
              </div>
        </form>
        </p>
   
    </div>


