@{
    ViewData["Title"] = "Remove";
}
<div class ="pp" style=" margin-left:100px;">
<h4><b>Are You Sure</b> </h4>
<h5><b>to delete a book:</b></h5> 
    
    
       
       
        <form method="post" enctype="multipart/form-data">
          
            <button type="submit" class="btn btn-primary">Yes</button>
            
            </form>
            <a class="nav-link text-dark" asp-area="" asp-controller="Auth" asp-action="Index" ><button type="submit" class="btn btn-primary" > No</button> </a>
              
        
   </div>
    


