@{
    ViewData["Title"] = "Return Book";
}

<div class="text-center">
 
<h2><b>Book Information</b> </h2>

            <p  style="font-size:20px; font:bold;" >Return a Book:</p>

<hr />

<div class="row">
    <div class="col-3">
        <ul class="list-group">
            <p  style="font-size:15px; font:bold;" >Write the Book ID:</p>
            
            <p  style="font-size:15px; font:bold;" >Write the Member ID:
           
           </p>
           <p  style="font-size:15px; font:bold;" >Fine Day:
           
           </p>
            <p  style="font-size:15px; font:bold;" >Total fine amount:
           
           </p>
          
        </ul>
    </div>
    <div class="col-4">
       
       
        <ul class="list-group">
           
         
               <input type="number" class="form-control" id="vno" placeholder="102">
                <input type="number" class="form-control" id="vno" placeholder="11">
                 <input type="date" class="form-control" id="vno" placeholder="">
                  <input type="number" class="form-control" id="vno" placeholder="">
               
               
                <button type="submit" class="btn btn-primary" style="width:70px; ">Return</button>
                <hr/>
                   <button type="submit" class="btn btn-primary" style="width:70px; ">Cancel</button>
        </ul>
    </div>
      
    </div>
  
       </div>
    
