@{
    ViewData["Title"] = "Add Book";
}

<div class="text-center">
 
<h2><b>Search for Member and Books</b> </h2>


<hr />
</div>
<div class="row" style="margin-right:80px; margin-left:80px;">
    <div class="col-6">
        <ul class="list-group">
            <p  style="font-size:20px; font:bold;" >Search for a book:</p>
            <hr/>
            <p  style="font-size:15px; font:bold;" >Search by:
             <select id="inputState" class="form-select">
      <option selected>Please Select</option>
      <option>Subject</option>
      <option>Auther</option>
      <option>Publication</option>
    </select>
           </p>
           <p  style="font-size:15px; font:bold;" >Write the keyword:
               <input type="text" class="form-control" id="vno" placeholder="MSCE">
               </p>
               <button type="submit" class="btn btn-primary">Search</button>
               <hr/>
        </ul>
    </div>
    <div class="col-6">
       
       
        <ul class="list-group">
            <p  style="font-size:20px; font:bold;" >Search for a Members:</p>
            <hr/>
            <p  style="font-size:15px; font:bold;" >Search by:
             <select id="inputState" class="form-select">
      <option selected>Please Select</option>
      <option>Email</option>
      <option>ID</option>
      <option>Name</option>
      <option>Phone</option>
    </select>
           </p>
           <p  style="font-size:15px; font:bold;" >Write the keyword:
               <input type="text" class="form-control" id="vno" placeholder="ANU">
               </p>
               <button type="submit" class="btn btn-primary">Search</button>
               <hr/>
                <button type="submit" class="btn btn-primary" style="width:70px; ">Cancel</button>
        </ul>
    </div>
              
    
