@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="row" style="margin-right:30px;margin-left:120px;">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false" style="margin-right:30px;margin-left:10px;">
    <h1>@ViewData["Title"]</h1>
<p>Use this page to detail your site's privacy policy.</p>
</div>
    <div class="col-md-12">
      <img src="~/img/privacy.png" style=" height:1200px; width:1100px;"/><br />
      
    </div>
    </div>
